// Снабжение - выбор из прайс листа
object 'L_PRICES::GETPRICE' : InterfaceWindow {

    //спецификация
    object BRPRICES : Browser {

        object 'Field: KATMC.BARKOD2' : Column {
          Original = False;
          Visible = True;
          Hidden = False;
          Protect = True;
          StatusCtx = 0;
          Title = 'SAP Код';
          FieldName = 'Field: KATMC.BARKOD2';
          Index = 7;
          DefaultWidth = 14;
          ButtonType = 0;
        } // 'Field: KATMC.BARKOD2' : Column

    } // BRPRICES : Browser

} // L_PRICES::GETPRICE : InterfaceWindow
//-----------------------------------------------------------------------------
